<a href="https://colab.research.google.com/github/dwootton/Utah-Air-Explorers/blob/master/UtahAirExplorersClustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
import datetime
import requests
import pandas as pd

from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

import seaborn as sns
import matplotlib.pyplot as plt
from google.colab import drive

In [9]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
sensor_info_df = pd.read_csv('drive/My Drive/UtahAirExplorers/sensorInformation.csv')

In [15]:
sensor_info_df

,Unnamed: 0,ID,Latitude,Longitude,Sensor Model,Sensor Source,Elevation
0,0,10050,40.749149,-111.912459,PMS5003+PMS5003+BME280,Purple Air,1288.745117
1,1,10051,40.749149,-111.912959,PMS5003,Purple Air,1288.989990
2,2,1010,40.847496,-111.901089,PMS5003+PMS5003+BME280,Purple Air,1349.093872
3,3,1011,40.847496,-111.901589,PMS5003,Purple Air,1346.343994
4,4,10132,40.449095,-111.760208,PMS5003+PMS5003+BME280,Purple Air,1553.029175
5,5,10133,40.449095,-111.760708,PMS5003,Purple Air,1551.906982
6,6,1018,41.026017,-111.901674,PMS5003+PMS5003+BME280,Purple Air,1414.564209
7,7,1019,41.026017,-111.902174,PMS5003,Purple Air,1411.444458
8,8,1024,41.327040,-111.814401,PMS5003+PMS5003+BME280,Purple Air,1669.746460
9,9,1025,41.327040,-111.814901,PMS5003,Purple Air,1669.021484
10,10,10727,40.562586,-111.804380,PMS5003,Purple Air,1552.503906
11,11,10794,40.693316,-111.930094,PMS5003+PMS5003+BME280,Purple Air,1296.191162
12,12,10795,40.693316,-111.930594,PMS5003,Purple Air,1295.450928
13,13,10808,40.507316,-111.899188,PMS5003+PMS5003+BME280,Purple Air,1346.510742
14,14,10809,40.507316,-111.899688,PMS5003,Purple Air,1345.644165
15,15,1092,40.664162,-111.798697,PMS5003+PMS5003+BME280,Purple Air,1587.823853
16,16,1093,40.664162,-111.799197,PMS5003,Purple Air,1576.985229
17,17,1096,41.098559,-111.981496,PMS5003+PMS5003+BME280,Purple Air,1403.401001
18,18,1097,41.098559,-111.981996,PMS5003,Purple Air,1402.965820
19,19,1104,41.178942,-111.946031,PMS5003+PMS5003+BME280,Purple Air,1461.856079
20,20,1105,41.178942,-111.946531,PMS5003,Purple Air,1459.198486
21,21,1118,39.686879,-110.854561,PMS5003+PMS5003+BME280,Purple Air,1779.200073
22,22,1119,39.686879,-110.855061,PMS5003,Purple Air,1778.546753
23,23,11358,40.735980,-111.576782,PMS5003+PMS5003+BME280,Purple Air,2081.645508
24,24,11359,40.735980,-111.577282,PMS5003,Purple Air,2087.592041
25,25,11470,41.100864,-111.949684,PMS5003+PMS5003+BME280,Purple Air,1456.520020
26,26,11471,41.100864,-111.950184,PMS5003,Purple Air,1455.579102
27,27,11828,40.720226,-111.820249,PMS5003+PMS5003+BME280,Purple Air,1421.320679
28,28,12324,40.449538,-111.889730,PMS5003+PMS5003+BME280,Purple Air,1516.079102
29,29,12325,40.449538,-111.890230,PMS5003,Purple Air,1514.468750
...,...,...,...,...,...,...,...
757,757,S-A-131,40.795517,-111.931027,NaN,airu,1286.777466
758,758,S-A-135,40.745004,-111.808688,NaN,airu,1543.037964
759,759,S-A-137,40.734357,-111.872138,NaN,airu,1306.208496
760,760,S-A-138,40.789093,-111.920613,NaN,airu,1286.891113
761,761,S-A-139,40.745284,-111.915006,NaN,airu,1289.323486
762,762,S-A-141,40.747810,-111.885925,NaN,airu,1292.156128
763,763,S-A-144,40.603143,-111.813675,NaN,airu,1429.097656
764,764,S-A-145,40.784215,-111.739162,NaN,airu,1826.553101
765,765,S-A-147,40.729965,-111.876612,NaN,airu,1305.464722
766,766,S-A-150,40.685523,-111.839582,NaN,airu,1364.883057
767,767,S-A-152,40.679109,-111.785205,NaN,airu,1607.043091
768,768,S-A-157,40.768311,-111.863060,NaN,airu,1360.173584
769,769,S-A-159,40.763089,-111.920977,NaN,airu,1288.156250
770,770,S-A-160,40.779897,-111.869498,NaN,airu,1438.064453
771,771,S-A-161,40.745397,-111.881442,NaN,airu,1294.913696
772,772,S-A-162,40.489311,-112.051617,NaN,airu,1589.342529
773,773,S-A-166,40.784545,-111.870709,NaN,airu,1497.762329
774,774,S-A-167,40.563396,-111.927597,NaN,airu,1346.995972
775,775,S-A-168,40.772108,-111.886944,NaN,airu,1334.993286
776,776,S-A-169,40.662989,-111.932292,NaN,airu,1310.851563
777,777,S-A-170,40.788129,-111.875228,NaN,airu,1546.598755
778,778,S-A-176,40.728545,-111.881417,NaN,airu,1302.199951
779,779,S-A-178,40.730483,-111.877850,NaN,airu,1304.820557
780,780,S-A-179,40.786925,-111.873132,NaN,airu,1540.568359
781,781,S-A-186,40.779137,-111.865778,NaN,airu,1434.613037
782,782,S-A-187,40.734472,-111.871993,NaN,airu,1305.994507
783,783,S-A-194,40.734339,-111.872185,NaN,airu,1306.241211
784,784,S-A-204,40.795596,-111.931021,NaN,airu,1286.719238
785,785,S-A-235,40.795530,-111.931000,NaN,airu,1286.749878
786,786,WBB,40.766230,-111.847550,NaN,Mesowest,1438.327026

In [16]:
sensor_info_df.describe()

       Unnamed: 0    Latitude   Longitude    Elevation
count  787.000000  787.000000  787.000000   787.000000
mean   393.000000   40.639899 -111.845809  1492.469644
std    227.331623    0.528685    0.412879   236.617116
min      0.000000   37.111172 -114.042201   900.597656
25%    196.500000   40.478486 -111.931949  1346.753357
50%    393.000000   40.684050 -111.861434  1438.064453
75%    589.500000   40.777160 -111.768597  1540.261719
max    786.000000   41.766739 -109.490258  2712.012939

It looks like some of our sensors aren't where we want them to be. Let's try to narrow down our sensors to only the Salt Lake Valley. This should get rid of outliers.

In [0]:
sensor_info_cleaned = sensor_info_df[sensor_info_df['Latitude']> 40.5]
sensor_info_cleaned = sensor_info_cleaned[sensor_info_cleaned['Latitude']< 40.9]
sensor_info_cleaned = sensor_info_cleaned[sensor_info_cleaned['Longitude']> -112.01]
sensor_info_cleaned = sensor_info_cleaned[sensor_info_cleaned['Longitude']< -111.75]

In [22]:
salt_lake_sensors = sensor_info_cleaned
salt_lake_sensors.describe()

       Unnamed: 0    Latitude   Longitude    Elevation
count  308.000000  308.000000  308.000000   308.000000
mean   435.928571   40.697870 -111.866966  1404.891104
std    251.817151    0.084157    0.054492    99.868619
min      0.000000   40.507019 -112.000040  1286.633301
25%    220.750000   40.645648 -111.900736  1312.909210
50%    411.500000   40.712139 -111.867127  1379.080078
75%    704.250000   40.755075 -111.819422  1484.098999
max    786.000000   40.891716 -111.765375  1675.956421